footer {
    position: static;
}

footer > ul {
    /* background-color: rgb(240, 240, 240); */
    width: 100%;
    height: 3vh;
}

li {
    padding-top: 1px;
    padding-bottom: 1px;
}

li:hover {
    cursor: pointer;
    background-color: #17a3b817;
}

a:hover {
    text-decoration: none;
}

a {
    color: #212529;
}