<div class='container-fluid'>  
    <div class='col-12 col-md-5'>  
        <ngb-carousel>  
            <ng-template ngbSlide>
                <img src="../../assets/images/house.jpg" alt="Pile of brooms">
                <div class="carousel-caption">
                    <h3>House utensils</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../assets/images/pet.jpg" alt="Two cats dring water froma bowl">  
                <div class="carousel-caption">  
                    <h3>Pet supplies</h3>  
                </div>  
            </ng-template>
            <ng-template ngbSlide>  
                <img src="../../assets/images/garden.jpg" alt="Pink and white flowers">  
                <div class="carousel-caption">  
                    <h3>Garden supplies</h3>  
                </div>  
            </ng-template>
            <ng-template ngbSlide>  
                <img src="../../assets/images/grocery.jpg" alt="A basket with some vagetables inside">  
                <div class="carousel-caption">  
                    <h3>Grocery items</h3>  
                </div>  
            </ng-template>
            <ng-template ngbSlide>  
                <img src="../../assets/images/sports.jpg" alt="A group of runners starting the race">  
                <div class="carousel-caption">  
                    <h3>Sports needs</h3>  
                </div>  
            </ng-template>
        </ngb-carousel>  
    </div>  
  
</div>  