<div class='container-fluid'>  
    <div class='col-12 p-md-5'>  
        <ngb-carousel>  
            <ng-template ngbSlide>
                <img src="../../assets/images/house.jpg" alt="Delhi Metro">
                <div class="carousel-caption">
                    <h3>House utensils</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../assets/images/pet.jpg" alt="Bangalore Metro">  
                <div class="carousel-caption">  
                    <h3>Pet supplies</h3>  
                </div>  
            </ng-template>
            <ng-template ngbSlide>  
                <img src="../../assets/images/garden.jpg" alt="Channai Metro">  
                <div class="carousel-caption">  
                    <h3>Garden supplies</h3>  
                </div>  
            </ng-template>
            <ng-template ngbSlide>  
                <img src="../../assets/images/grocery.jpg" alt="Mumbai Metro">  
                <div class="carousel-caption">  
                    <h3>Grocery items</h3>  
                </div>  
            </ng-template>
            <ng-template ngbSlide>  
                <img src="../../assets/images/sports.jpg" alt="Jaipur Metro">  
                <div class="carousel-caption">  
                    <h3>Sports needs</h3>  
                </div>  
            </ng-template>
        </ngb-carousel>  
    </div>  
  
</div>  