<div class="container">
    <p *ngIf="!cartProducts.length">Add some products to your cart and you'll find them here :)</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let product of cartProducts">
            <app-cart-item [cartItem]="product" (delete)="removeItem($event)"></app-cart-item>
        </li>
    </ul>
    <h5 *ngIf="cartProducts.length" class="totalValue">
        Items quantity: {{ cartQty }}<br/>
        Total: {{ cartTotal | currency }}
    </h5>
</div>