div.container {
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

p {
    text-align: center;
    margin-top: 5vw;
}

h5.totalValue {
    float: right;
    margin-right: 2vw;
    margin-top: 3vw;
}