* {
    outline: none;
}

.grid-container {
    position: static;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 3vh;
    grid-template-areas: "header"
                        "content"
                        "footer";
}

app-header {
    grid-area: header;
    min-height: 22vh;
}

app-landing-page,
app-content,
app-about-page,
app-contact-page,
app-cart-page
{
    grid-area: content;

}

app-landing-page,
app-about-page,
app-contact-page{
    min-height: 75vh;
}

app-categories-list {
    grid-area: categories;
}

app-items-list {
    grid-area: items;
    border-left: 1px darkgray solid;
}

app-items-list > main > h3 {
    padding-bottom: 2vh;
}

app-footer {
    grid-area: footer;
}

app-content {
    min-height: 71vh;
    margin-bottom: 4vh;
    display: grid;
    grid-template-columns: 24vw 24vw 24vw 24vw;
    grid-template-areas: "categories items items items";
}
