* {
    outline: none;
    /* overflow-x: hidden; */
}

.grid-container {
    position: static;
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-rows: auto auto 4vh;
    grid-template-areas: "header"
                        "content"
                        "footer";
}

app-header {
    grid-area: header;
    min-height: 22vh;
    overflow-x: hidden;
}

app-landing-page,
app-content,
app-about-page,
app-contact-page,
app-cart-page,
app-checkout,
router-outlet
{
    grid-area: content;
    overflow-x: hidden;
}

app-landing-page,
app-about-page,
app-contact-page,
router-outlet
{
    height: 74vh;
}

app-items-list > main > h3 {
    padding-bottom: 2vh;
}

app-footer {
    grid-area: footer;
}

app-content {
    min-height: 71vh;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-areas: "filters items items items";
}

app-cart-page {
    min-height: 71vh;
}