<main>
  <h3 *ngIf="category || searchText"> Filters: 
    <span *ngIf="category" class="badge-info rounded p-1">
      {{ category }} <sup class="btn p-0" [routerLink]="['/products']">X</sup>
    </span> &nbsp;
    <span *ngIf="searchText"class="badge-info rounded p-1">
      {{ searchText }} <sup class="btn p-0" (click)="clearSearchText()">X</sup>
    </span>
  </h3>
  <!-- <h3 *ngIf="!category && !searchText">All products</h3> -->
  <h3 *ngIf="!category && !searchText">&nbsp;</h3>
  <div class="card-columns">
    <div class="card" *ngFor="let product of products">
        <h5 class="card-header"> {{ product.name }} </h5>
        <!-- <h4 class="card-header">product image</h4> -->
      <div class="card-body" *ngIf="product.quantity">
        <p class="card-text mb-0">Price: {{ product.cost}} </p>
        <p class="card-text">Quantity on stock {{ product.quantity }} </p>
      </div>
      <div>
        <button class="card-footer" *ngIf="product.quantity" (click)="addItem(product)">Add to cart</button>
      </div>
      <div class="card-body" *ngIf="!product.quantity">
        <h5> {{ product.name }} </h5>
        <p>Out of stock :(</p>
      </div>
    </div>
  </div>
</main>
  