<main>
  <h3 *ngIf="category || searchText || orderString; else blankSpace"> Filters: 
    <span *ngIf="category">
      <span class="badge-info rounded p-1">
        {{ category }} <sup class="btn p-0" [routerLink]="['/products', '']">X</sup>
      </span> &nbsp;
    </span>
    <span *ngIf="searchText">
      <span class="badge-info rounded p-1">
        {{ searchText }} <sup class="btn p-0" (click)="clearSearchText()">X</sup>
      </span> &nbsp;
    </span>
    <span *ngIf="orderString">
      <span class="badge-info rounded p-1">
        {{ orderString }} <sup class="btn p-0" (click)="clearSort()">X</sup>
      </span>
    </span>
    &nbsp;
  </h3>

  <ng-template #blankSpace>
    <h3>&nbsp;</h3>
  </ng-template>

  <div class="card-columns">
    <div class="card" *ngFor="let product of products">
        <h5 class="card-header"> {{ product.name }} </h5>
        <!-- <h4 class="card-header">product image</h4> -->
      <div class="card-body" *ngIf="product.quantity">
        <p class="card-text mb-0">Price: {{ product.cost}} </p>
        <p class="card-text">Quantity on stock {{ product.quantity }} </p>
      </div>
      <div class="card-body" *ngIf="!product.quantity">
        <h5> {{ product.name }} </h5>
        <p>Out of stock :(</p>
      </div>
      <div class="card-footer btn" *ngIf="product.quantity" (click)="addItem(product)">
        Add to cart
      </div>
    </div>
  </div>
</main>
  