<div>
    <h3>
        You can find me on the following channels:
    </h3>

    <h4>
        LinkedIn: <img id="linkedinImg" src="../../assets/images/linkedin.png" width="30em">&nbsp;
        <a href="https://www.linkedin.com/in/devthalescosta/" target="_blank">Thales Costa</a>
    </h4>
    <h4>
        E-Mail: <img src="../../assets/images/email.png" width="30em">&nbsp;
        <a href="mailto:thalescosta@outlook.com" target="_blank">thalescosta@outlook.com</a>
    </h4>
    <h4>GitHub: <img id="githubImg" src="../../assets/images/github.png" width="30em">&nbsp;
        <a href="https://github.com/Costath" target="_blank">Costath</a></h4>
</div>